.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 13vh;
    background-color: #00ccbc;
}

.header-left {
    padding-left: 45px;
}

.header-left> :first-child {
    padding-bottom: 15px;
    font-size: smaller;
    font-weight: bolder;
}

.header-left> :last-child {
    color: whitesmoke;
    font-weight: bolder;
    font-size: x-large
}

.header-right {
    padding-right: 50px;
}

.header-btn {
    background-color: white !important;
    text-transform: capitalize !important;
    color: #3ea59c !important;
    font-weight: bolder !important;
}